.customSearch {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}
.customSearch > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: space-around; */
  width: 60%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.1);

  /* height: 100%; */
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .customSearch > div {
    width: 80%;
  }
}
