.recentHeader {
  height: 8vh;
  display: flex;
  align-items: center;
}
.recentHeader > h2 {
  font-family: var(--font-secondary);
  font-weight: 300;
  margin-left: 20px;
}
.recentHero {
  height: 88vh;
  overflow-y: scroll;
  /* background-color: gray; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin-top: 2vh;
  margin-bottom: 2vh; */
}
.recentHero::-webkit-scrollbar {
  width: 4px;
  margin-right: 5px;
}
.recentHero::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;

  /* border: 3px solid orange; */
}

.recentHero::-webkit-scrollbar-track {
  background-color: #ac9e9e;
  border-radius: 20px;
}
.customSearch_Recent {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: inherit;
  /* background-color: rgb(182, 100, 100); */
  overflow: hidden;
  position: relative;
}
.customeSearch_Inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: space-around; */
  width: 60%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.1);

  /* height: 100%; */
  /* background-color: aquamarine; */
  padding: 10px;
}
@media screen and (max-width: 650px) {
  .recentHero {
    height: 68vh;
  }
}

@media screen and (max-width: 900px) {
  .customeSearch_Inner {
    width: 80%;
  }
  .customSearch_Recent {
    height: 80vh;
    overflow: hidden;
  }
}
.spinTop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 600;
}
.spin {
  display: inline-block;
  width: 50px;
  /* background-color: red; */
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: rgb(221, 31, 17);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
